################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuditLog.API/FileContentIndex/05c00f70-fa9b-4ce1-8462-ee77fb65b7d9.vsidx
/.vs/AuditLog.API/FileContentIndex/0b286cf6-9ff7-4049-a6fd-70a9019a1405.vsidx
/.vs/AuditLog.API/FileContentIndex/2d277a4e-5e98-469e-805b-705f7ad1f358.vsidx
/.vs/AuditLog.API/FileContentIndex/3a3fa6dd-241f-4e55-822e-ee73e9306c0c.vsidx
/.vs/AuditLog.API/FileContentIndex/038fb637-bbe3-4e8c-8268-0f8f2392e1be.vsidx
/.vs/AuditLog.API/FileContentIndex/03dbb739-d5c1-49c8-902e-f8a20e8731ba.vsidx
*.vsidx
/.vs/AuditLog.API/FileContentIndex/742b972c-6bf7-460a-b1cc-ccb173f75bf2.vsidx
/.vs/AuditLog.API/FileContentIndex/76e9caeb-1f7d-4ad1-ac08-9d8e6ec5a17f.vsidx
/.vs/AuditLog.API/FileContentIndex/78e91128-67e5-4eb2-b00f-55eba825f422.vsidx
