################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuditLog.API/FileContentIndex/05c00f70-fa9b-4ce1-8462-ee77fb65b7d9.vsidx
/.vs/AuditLog.API/FileContentIndex/0b286cf6-9ff7-4049-a6fd-70a9019a1405.vsidx
/.vs/AuditLog.API/FileContentIndex/2d277a4e-5e98-469e-805b-705f7ad1f358.vsidx
/.vs/AuditLog.API/FileContentIndex/3a3fa6dd-241f-4e55-822e-ee73e9306c0c.vsidx
