################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuditLog.API/FileContentIndex/05c00f70-fa9b-4ce1-8462-ee77fb65b7d9.vsidx
